.noUi-target {
    padding: 0 14px 0 0;
}

.noUi-connects {
    border-radius: 0;
    margin: 0 -14px 0 0;
    width: calc(100% + 14px);
}

.noUi-horizontal {
    height: 2px;
    border: 0;
    background: #e5e9eb;
}
.noUi-horizontal .noUi-connect {
    background: #ff6f00;
}
.noUi-horizontal .noUi-handle {
    width: 20px;
    height: 20px;
    border: 0;
    top: -9px;
    border-radius: 100%;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
    cursor: pointer;
}
.noUi-horizontal .noUi-handle:hover {
    background: #ff6f00;
}
.noUi-horizontal .noUi-handle:hover:after {
    background: #ff5c00;
}
.noUi-horizontal .noUi-handle:active,
.noUi-horizontal .noUi-handle:focus {
    outline: none;
}
.noUi-horizontal .noUi-handle:after {
    width: 9px;
    height: 9px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #ff6f00;
    border-radius: 100%;
}
.noUi-horizontal .noUi-handle:before {
    display: none;
}

[v-cloak] {
    display: none;
}

.leasing-title {
    margin-top: 70px;
    margin-bottom: 60px;
    font-weight: 600;
}

#leasing-app {
    margin-bottom: 70px;
}

.range:not(:last-child) {
    margin-bottom: 30px;
}

.range__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    border: 1px solid #E0E0E0;
    padding: 0 20px;
}

.range__title {
    font-weight: 450;
    font-size: 18px;
    line-height: 23px;
    color: #3F4449;
    opacity: 0.8;
}

.range__value {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #3F4449;
    opacity: 0.8;
}

.range__rub {
    font-weight: 300;
}

.range__input {
    margin-top: -2px;
}

.range__boundaries {
    display: flex;
    align-items: center;
    margin-top: 18px;
    justify-content: space-between;
    font-size: 16px;
    line-height: 21px;
    color: #3F4449;
    opacity: 0.8;
    font-weight: 300;
}

.leasing-result {
    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px 50px 40px;
}

.leasing-result__title {
    font-weight: 600 !important;
    padding-bottom: 7px;
    border-bottom: 1px solid rgba(63, 68, 73, .2);
    margin-bottom: 20px;
}

.leasing-result__line {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leasing-result__line_small-margin {
    margin-bottom: 20px;
}

.leasing-result__monthly-desc {
    font-weight: 450;
    font-size: 18px;
    line-height: 23px;
    color: #3F4449;
    opacity: 0.8;
}

.leasing-result__monthly-sum {
    font-weight: 600;
    font-size: 32px;
    line-height: 41px;
    color: #3F4449;
}

.leasing-result__contract-desc {
    font-size: 18px;
    line-height: 23px;
    color: #3F4449;
    opacity: 0.56;
}

.leasing-result__contract-sum {
    font-weight: 450;
    font-size: 22px;
    line-height: 28px;
    text-align: right;
    color: #3F4449;
    opacity: 0.7;
}

.leasing-result__profit-desc {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: rgba(15, 53, 153, .8);
    display: flex;
    align-items: center;
}

.leasing-result__profit {
    margin-left: 10px;
    position: relative;
    display: flex;
}

.leasing-result__profit-icon {
    margin-top: 2px;
    cursor: pointer;
}

.leasing-result__profit-popup {
    display: none;
    position: absolute;
    background: #0F3599;
    top: -5px;
    left: 30px;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 8px 10px 10px;
    width: 192px;
    font-weight: normal;
    transform: translate(-100%, -100%);
}

.leasing-result__profit-popup::before {
    content: url("/local/templates/.default/assets/images/popup-bottom-arrow.svg");
    position: absolute;
    right: 14px;
    bottom: -11px;
}

.leasing-result__profit:hover .leasing-result__profit-popup {
    display: flex;
}

.leasing-result__profit-sum {
    font-weight: 600;
    font-size: 32px;
    line-height: 41px;
    color: #0F3599;
}

.leasing-result__submit-line {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.leasing-result__policy {
    font-size: 12px;
    line-height: 15px;
    color: #3F4449;
    opacity: 0.6;
    margin-right: 20px;
}

.leasing-result__submit {
    flex-shrink: 0;
}

@media (max-width: 991.98px) {

    .range__info {
        height: 50px;
    }

    .range__title, .range__value {
        font-size: 14px;
        line-height: 18px;
    }

    .range__info {
        padding: 0 10px;
    }

    .leasing-result {
        padding: 30px 13px;
    }

    .leasing-result__title {
        margin-bottom: 14px;
    }

    .leasing-result__monthly-desc,
    .leasing-result__contract-desc,
    .leasing-result__profit-desc {
        font-size: 13px;
        line-height: 17px;
    }

    .leasing-result__profit {
        margin-left: 5px;
    }

    .leasing-result__profit-icon {
        width: 12px;
        height: 12px;
    }

    .leasing-result__profit-popup {
        left: 50%;
        transform: translate(-50%, -100%);
    }

    .leasing-result__profit-popup::before {
        right: calc(50% - 7px);
    }

    .leasing-result__line {
        margin-bottom: 20px;
    }

    .leasing-result__contract-sum {
        font-size: 14px;
        line-height: 18px;
    }

    .leasing-result__monthly-sum,
    .leasing-result__profit-sum {
        font-size: 22px;
        line-height: 28px;
    }

}

@media (max-width: 767.98px) {

    #leasing-app {
        margin-bottom: 40px;
    }

    .leasing-title {
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .leasing-result {
        margin-top: 30px;
    }

}

@media (max-width: 575.98px) {

    .leasing-result__submit-line {
        flex-direction: column;
    }

    .leasing-result__submit {
        width: calc(100% + 26px);
        text-align: center;
        margin-left: -13px;
        margin-right: -13px;
        order: 0;
    }

    .leasing-result__policy {
        order: 1;
        margin-right: 0;
        margin-top: 20px;
    }

}