body:not(.homepage) {
    /*padding-top: 8.4rem;*/
    padding-top: 15.2rem;
}

@media (min-width: 1025px) {
    body:not(.homepage) {
        padding-top: 8.4rem;
    }
}

.header {
    z-index: 5;
}

.down-link {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.vacuum-podmet-ubor {
    width: 5rem;
    height: 3rem;
    fill: #17181a;
    stroke: #17181a;
}

.comby-road-car {
    width: 6.8rem;
    height: 3.4rem;
    fill: #17181a;
    stroke: #17181a;
}

.snow-ubor-car {
    width: 5rem;
    height: 3rem;
    fill: #17181a;
    stroke: #17181a;
}

.feature-tab__link {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.feature-tab__link.active:hover {
    color: #fff;
}

.feature-tab__link:not(.active):hover {
    color: #0f3599;
}

.partners-nav__item {
    cursor: pointer;
}

.sale-item__date {
    width: 14.4rem;
}

.politic > a {
    text-decoration: underline;
}

.politic > a:hover {
    text-decoration: none;
}

.form-field.error {
    border-color: red;
}

.input_light:not(.error) {
    border: 1px solid #d3dbe2;
}

.input_light:not(.error):focus {
    border-color: #17181a;
}

.error-msg {
    color: red;
    display: none;
}

.error-msg.active {
    display: block;
}

.swal2-container {
    z-index: 99992 !important;
}

.search-result {
    display: none;
}

.search-result.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.search-result_title {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.search-result_list {
    width: 100%;
}

.search-result_list-item {
    font-size: 1.8rem;
    font-weight: 600;
    color: #0f3599;
    transition: all .2s ease;
    padding: 2rem 0;
    border-bottom: 1px solid rgba(23, 24, 26, .5);
}

.search-result_list-item:last-child {
    border-bottom: none;
}

.search-result_list-item:hover {
    color: #17181a;
}

.header-index .header-nav__item:not(.spec-js):hover a {
    opacity: 1;
    color: #0f3599;
}

#bx-panel {
    z-index: 999999 !important;
}

.sticker {
    display: block;
}

.go-to-compare {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: rgb(255, 110, 0);
    color: #fff;
    font-size: 1.0625em;
    display: inline-block;
    border-left-color: rgb(255, 110, 0);
    border-right-color: rgb(255, 110, 0);
    margin: .3125em;
    padding: .625em 2em;
    box-shadow: none;
    font-weight: 500;
}

.go-to-compare:hover {
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1));
}

.go-to-compare:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px rgba(50, 100, 150, .4);
}

.i-arrow {
    position: relative;
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    margin-left: .4rem;
}

.i-arrow:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: .4rem;
    height: .4rem;
    margin: auto;
    transform: rotate(45deg);
    border-width: 0 2px 2px 0;
    border-style: solid;
    transition: inherit;
}

.region-link {
    position: relative;
}

.region-link__el {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    cursor: pointer;
    transition: all .2s ease;
}

.region-link__el .i-arrow {
    border-color: #fff;
}

.region-link__el:hover {
    color: #0F3599;
}

.region-link__el:hover .i-arrow {
    border-color: #0F3599;
}

.region-link:hover .region-link__dropdown {
    opacity: 1;
    visibility: visible;
}

.region-link__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 3px 0;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;
}

.header-active-city {
    position: relative;
    margin-right: 0;
}

.header-active-city__selector {
    position: absolute;
    background: #fff;
    min-width: 290px;
    right: 50%;
    transform: translateX(50%);
    padding: 24px;
    top: 4.2rem;
    z-index: 10;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}

.header-active-city__selector:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 17px solid #fff;
    position: absolute;
    top: -17px;
    left: 50%;
    transform: translateX(-50%);
}

.header-active-city__selector-title {
    font-family: 'FuturaPT', sans-sarif;
    font-size: 1.6rem;
    color: #000000;
}

.header-active-city__selector-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 1.2rem;
    justify-content: space-between;
}

.header-active-city__selector-btn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-family: 'FuturaPT', sans-sarif;
    font-weight: 600;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 1.2rem;
    min-width: 45%;
}

.header-active-city__selector-btn.success {
    background: #FF6E00;
}

.header-active-city__selector-btn.wrong {
    background: #0F3599;
}

.header:not(.active) .header-active-city .city-arrow:before {
    border-right-color: #fff;
    border-bottom-color: #fff;
}

.header .header-active-city .city-btn:hover .city-arrow:before {
    border-right-color: #0f3599;
    border-bottom-color: #0f3599;
}

.header:not(.active) .header-active-city .city-btn:hover .city-btn__title {
    color: #0f3599;
}

.header .header-active-city .location-ico {
    transition: all .2s ease;
}

.header .header-active-city .city-btn:hover .location-ico {
    fill: #0f3599!important;
}

.header:not(.active) .header-active-city .location-ico {
    fill: #fff;
}

.header.active .header-active-city .location-ico {
    fill: #17181a;
}

.header-active-city-mobile {
    margin-right: 0;
    padding: 1.2rem;
    display: flex;
    justify-content: center;
    background: #fff;
}

.header-active-city-mobile .header-active-city__selector {
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    top: 5.2rem;
}

.header__phone .phone__content {
    transform: translateY(10px);
}

.single-header_gray {
    height: 24rem;
}

.sub-menu__link:not(:last-child) {
    margin-right: 2.8rem;
}

.sub-menu__link {
    font-size: 1.4rem;
}

.video-js_popup {
    width: 80vw;
    height: 46vw;
}

.sticker {
    position: relative;
    padding: 0;
}

.cars .car-article__sticker {
    top: 0;
}

.sticker-fire {
    height: 20px;
}

.btn_blue:hover {
    background: #091f58;
}

.mobile__content {
    height: calc(100vh - 14.8rem);
}

.window-menu__spec:hover .window-menu__ico:not(.uploaded-ico) svg {
    fill: #0f3599;
    stroke: #0f3599;
}

.window-menu__spec:hover .window-menu__ico.uploaded-ico svg path,
.window-menu__spec:hover .window-menu__ico.uploaded-ico svg circle,
.window-menu__spec:hover .window-menu__ico.uploaded-ico svg rect,
.window-menu__spec_tekhnika-na-gazomotornom-toplive .window-menu__ico.uploaded-ico svg path,
.window-menu__spec_tekhnika-na-gazomotornom-toplive .window-menu__ico.uploaded-ico svg circle,
.window-menu__spec_tekhnika-na-gazomotornom-toplive .window-menu__ico.uploaded-ico svg rect {
    stroke: #0f3599;
}

.spec-window__links {
    overflow: auto;
}

.spec-window__links::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.spec-window__links::-webkit-scrollbar {
    height: 1rem;
    background-color: #F5F5F5;
}

.spec-window__links::-webkit-scrollbar-thumb {
    background-color: #0f3599;
}

.spec-window__links .window-menu__link {
    width: auto;
    padding: 1.2rem 0;
    display: block;
    text-align: center;
}

.spec-window .window-menu__ico {
    width: 6.8rem;
    text-align: center;
    display: inline-block;
}

.spec-window__links .window-menu__title {
    text-align: center;
    display: block;
}

.preview__img > img {
    max-width: 192px;
}

.popup.popup_small {
    max-width: 120rem;
}

.conf-btn {
    pointer-events: all;
    touch-action: manipulation;
}

.homepage-text p {
    font-size: 2rem;
}

.homepage-middle-slider__content {
    display: none;
}

.homepage-middle-slider__content.active {
    display: block;
}

.header-nav__item {
    position: relative;
}

.spec-window {
    width: auto;
    padding-top: 1.5rem;
    top: auto;
    left: -1.5rem;
    min-width: 268px;
}

.spec-window.catalog .spec-window__links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 64px;
}

.spec-window.catalog .spec-window__links .window-menu__link {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    min-width: 300px;
}

.spec-window.catalog .spec-window__links .window-menu__ico {
    margin-right: 12px;
}

.spec-window:not(.catalog) .spec-window__links .window-menu__link {
    white-space: nowrap;
}

.spec-window__content .wrapper {
    padding: 1.2rem 2.4rem;
}

.spec-window__links {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}

.spec-window__links .window-menu__title {
    text-align: left;
    width: auto;
    max-width: none;
}

.mechanim .pay-2 path {
    stroke-dasharray: 220;
    stroke-dashoffset: -50;
    transition: all 1.5s ease;
}

.preim:hover .mechanim .pay-2 path {
    stroke-dasharray: 220;
    stroke-dashoffset: 0;
}

.partners {
    justify-content: center;
}

.partners-nav__items {
    justify-content: center;
}

.paragraph iframe {
    max-width: 100%;
}

.from-youtube {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    padding-top: 0;
}

.from-youtube .video-widget {
    height: 100%;
}

.sub-menu__content {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
}

.inner-menu {
    position: relative;
}

.inner-menu:after {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    content: '';
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
}

.sub-menu__content .sub-menu__link:last-child {
    /*padding-right: 30px;*/
}

.additional-description {
    display: grid;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

.additional-description__item {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.additional-description__item.first-item {
    height: 35rem;
}

.additional-description__item.other {
    height: 28rem;
}

.additional-description__item.first-item .additional-description__item_description {
    color: #fff;
}

.additional-description__item_description {
    position: absolute;
    top: 3.2rem;
    left: 3.2rem;
    color: #17181a;
}

.additional-description__item_description .detail-tile__desc {
    opacity: .5;
}

@media (max-width: 600px) {
    body:not(.homepage) {
        padding-top: 15.4rem;
    }

    body.homepage {
        padding-top: 14.8rem;
    }
}

@media (max-width: 1014px) {
    body:not(.homepage) {
        padding-top: 14.8rem;
    }

    .single-header_gray {
        height: 18rem;
    }
}

@media (max-width: 1200px) {
    .header-active-city .location-ico {
        display: none;
    }
}

@media (max-width: 1280px) {
    .search-bottom-wrapp {
        display: block;
    }

    .header-active-city .location-ico {
        display: none;
    }
}

@media (max-width: 1440px) {
    .header-active-city .location-ico {
        display: none;
    }
}

@media (min-width: 600px) {
    .cars .car-article__sticker {
        top: 1.4rem;
    }

    .sticker-fire {
        height: 3.2rem;
    }

    .sticker {
        padding: .2rem .8rem;
    }

    .from-youtube {
        height: 450px;
    }

    .additional-description {
        grid-template-columns: repeat(4, 1fr);
    }

    .additional-description__item.first-item {
        grid-row-start: 1;
        grid-row-end: span 2;
        grid-column-start: 1;
        grid-column-end: span 2;
    }

    .additional-description__item.other {
        grid-column-start: 3;
        grid-column-end: span 3;
    }

    .additional-description__item.first-item {
        height: 52rem;
    }

    .additional-description__item.other {
        height: 25rem;
    }
}

@media (min-width: 768px) {

    .sub-menu__content {
        flex-wrap: wrap;
        justify-content: center;
        overflow: hidden;
    }

}

@media (min-width: 1200px) {
    .video-js_popup {
        height: 530px !important;
        width: 69vw;
    }

    .from-youtube {
        height: 800px;
    }

    /*.sub-menu__content {
        justify-content: center;
    }*/

    .sub-menu__content .sub-menu__link:last-child {
        padding-right: 0;
    }
}

@media (min-width: 1600px) {
    .video-js_popup {
        height: 850px !important;
    }
}

@media (min-width: 2000px) {
    .video-js_popup {
        height: 1080px !important;
        width: 89vw;
    }
}

.breadcrumb {
    padding-top: 30px;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.breadcrumb i {
    color: #FF6F00;
    line-height: 18px;
    font-size: 16px;
    vertical-align: middle;
    margin-right: 10px;
}
.breadcrumb .breadcrumb__item {
    /*white-space: nowrap;*/
    margin-right: 10px;
    font-size: 16px;
    line-height: 18px;
    color: #0F3599;
    display: flex;
    margin-bottom: 10px;
}

.gray-bg {
    background: #fafafa;
}

.breadcrumb .breadcrumb__item a {border-bottom: none;}

.section_article a {
    text-decoration: underline;
    color: #0f3599;
}

.copy__ofer {
    color: rgba(0, 0, 0, .5);
    font-size: 12px;
    padding: 0 20px;
    max-width: 50%;
}

@media (max-width: 980.98px) {
    .copy__ofer {
        padding: 5px 0 10px 0;
        max-width: 100%;
    }
}


.work-widget_goods-slider .work-widget__nav {
    top: 35%;
}


.home-categories {
    margin-top: 12rem;
    margin-bottom: 4rem;
}

.home-categories__el {
    display: block;
    margin-bottom: 8rem;
    color: #17181A;
    text-align: center;
    transition: all .2s ease;
}

.home-categories__el:hover {
    color: #0F3599;
}

.home-categories__el:hover .arrow-r-long-ico {
    stroke: #0F3599;
    transform: translateX(1rem);
}

.home-categories__el img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30rem;
    object-fit: contain;
}

.home-categories__el-name {
    display: block;
    margin-top: 2rem;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 100%;
    color: inherit;
}

.home-categories__el .arrow-r-long-ico {
    stroke: #17181A;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    transition: all .2s ease;
}

@media screen and (max-width: 768px) {
    .home-categories {
        margin-top: 6rem;
    }

    .home-categories__el {
        margin-bottom: 4rem;
    }

    .home-categories__el img {
        height: 14rem;
    }

    .home-categories__el-name {
        font-size: 1.6rem;
    }
}


.homepage-about__row {
    margin-bottom: 4rem;
}

.homepage-about__row .paragraph ul {
    padding-left: 30px;
}

@media screen and (min-width: 992px) {
    .homepage-about__title {
        margin-bottom: 5rem;
    }

    .homepage-about__row {
        margin-bottom: 6rem;
    }

    .homepage-about .paragraph p {
        font-size: 1.8rem;
    }

    .homepage-about__row .paragraph_pt {
        padding-top: 6rem;
    }

    .homepage-about__row_right {
        text-align: right;
    }
}

@media screen and (max-width: 991px) {
    .homepage-about__row img {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}


.home-advantages {
    font-size: 1.8rem;
    line-height: 2.4rem;
}

.home-advantages__el-img {
    display: block;
}

.home-advantages__el-text {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.4rem;
    text-align: center;
    color: #17181A;
}

@media screen and (min-width: 992px) {
    .home-advantages {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 5rem;
    }

    .home-advantages__el {
        margin-bottom: 4rem;
    }

    .home-advantages__el-img {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 991px) {
    .home-advantages {
        margin-bottom: 4rem;
    }

    .home-advantages__el {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    .home-advantages__el-img {
        flex: 0 0 80px;
        width: 80px;
    }

    .home-advantages__el-text {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
}


.homepage-questions {
    margin-bottom: 4rem;
}

.homepage-questions__row {
    margin-top: 3rem;
}

.homepage-questions__row:not(:last-child) {
    margin-bottom: 3rem;
}

.homepage-questions__el {
    position: relative;
    width: max-content;
    z-index: 0;
}

.homepage-questions__el:before {
    content: '';
    position: absolute;
    top: 20px;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.homepage-questions__el:after {
    content: '';
    position: absolute;
    display: block;
    z-index: 1;
}

.homepage-questions__el-inner {
    position: relative;
    width: max-content;
    max-width: 1200px;
    height: 100%;
    padding: 35px 50px 38px;
    z-index: 2;
}

.homepage-questions__q {
    margin-left: 113px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #17181A;
}

.homepage-questions__q .homepage-questions__el-inner {
    background: #EDF2FF;
}

.homepage-questions__q:before {
    left: -113px;
    background: url('../images/qa_question.svg') center no-repeat, #0C588F;
}

.homepage-questions__q:after {
    top: 35px;
    left: -38px;
    width: 38px;
    height: 28px;
    background: url('../images/qa-triangle.svg') center/contain no-repeat;
}

.homepage-questions__a {
    margin-right: 113px;
    margin-left: auto;
    font-size: 18px;
    line-height: 24px;
    color: #3F4449;
    text-align: right;
    box-shadow: 0 0 10px rgba(102, 102, 102, 0.15);
}

.homepage-questions__a .homepage-questions__el-inner {
    background: #fff;
}

.homepage-questions__a:before {
    right: -113px;
    background: url('../images/qa_answer.svg') center no-repeat, #FF6E00;
}

.homepage-questions__a:after {
    top: 25px;
    right: -48px;
    width: 58px;
    height: 48px;
    background: url('../images/qa-triangle-sh.svg') center/contain no-repeat;
}


@media screen and (min-width: 992px) {
    .homepage-questions {
        margin-bottom: 6rem;
    }

    .homepage-questions__row {
        margin-top: 4rem;
    }

    .homepage-questions__row:not(:last-child) {
        margin-bottom: 6rem;
    }
}

@media screen and (max-width: 1500px) {
    .homepage-questions__el-inner {
        max-width: 900px;
    }
}

@media screen and (max-width: 1200px) {
    .homepage-questions__el {
        width: calc(100% - 226px);
    }

    .homepage-questions__q {
        margin-right: 113px;
    }

    .homepage-questions__a {
        margin-left: 113px;
    }

    .homepage-questions__el-inner {
        width: 100%;
    }

    .homepage-questions__a .homepage-questions__el-inner {
        margin-left: auto;
    }
}

@media screen and (max-width: 768px) {
    .homepage-questions__el {
        width: calc(100% - 93px);
    }

    .homepage-questions__el:before {
        top: 28px;
        width: 40px;
        height: 40px;
        background-size: 50%;
    }

    .homepage-questions__el-inner {
        padding: 20px 20px 23px;
    }

    .homepage-questions__q {
        font-size: 16px;
        line-height: 20px;
        margin-left: 93px;
        margin-right: 0;
    }

    .homepage-questions__q:before {
        left: -93px;
    }

    .homepage-questions__a {
        font-size: 14px;
        line-height: 20px;
        margin-left: 0;
        margin-right: 93px;
    }

    .homepage-questions__a:before {
        right: -93px;
    }

}